@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @font-face {
  font-family: "comic-sans-ms";
  src: url("../comic-sans-ms/COMIC.TTF");
  src: url("../comic-sans-ms/comici.ttf") format("ttf"),
  url("../comic-sans-ms/comici.ttf") format("opentype"),
  url("../comic-sans-ms/comici.ttf") format("svg");
  } */
/* text-color: #06B6FC; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Inter;
  text-decoration: none;
}
body {
  background: rgb(230, 230, 230);
}
main {
  overflow: hidden;
}
.mobile-menu__list li select{
  border: none;
  background-color: #F18917;
  overflow: hidden !important;
  outline: hidden;
  padding: 10px;
  font-size: 20px;
  color: #003399;
}
.mobile-menu__list li select option{
  border: none;
  color: white;
}
.nav-in {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 999;
  background: rgb(241, 137, 23);
}
.nav-in img {
  width: 80px;
  height: 100px;
  margin-left: 20px;
}
.nav-in img:nth-child(2) {
  width: 130px;
  height: 100px;
}
.nav-in nav {
  flex: 1;
}
.nav-in nav .overlay {
  flex: 1;
  text-align: right;
  margin-right: 0;
  margin-top: 40px;
  cursor: pointer;
}
.nav-in nav .overlay ul li {
  font-size: 20px;
  display: inline-block;
  margin-right: 20px;
  transition: 0.5s;
}
.nav-in nav .overlay ul li:hover {
  /* border-bottom: 3px solid white; */
  border-radius: 5%;
  /* transition: .5s; */
  padding-bottom: 5px;
}
.nav-in nav .overlay ul li a {
  color: #003399;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.topnav {
  display: none;
  overflow: hidden;
  background-color: #ff7300;
}

.topnav a {
  float: left;
  display: block;
  color: #003399;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  overflow: hidden;
  color: rgb(255, 255, 255);
}
@media (max-width: 1200px) {
    .topnav select{
    border: none;
    background-color: #FF7300;
    overflow: hidden !important;
    outline: hidden;
    font-size: 17px;
    color: #003399;
  }
  .topnav select option{
    border: none;
    color: white;
  }
  .nav-in {
    display: none;
  }
  .topnav {
    display: block;
  }
  .topnav img {
    margin-left: 20px;
    width: 50px;
    height: 70px;
  }
  .topnav img:nth-child(2) {
    width: 100px;
    height: 70px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav .icon {
    margin-top: 15px;
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a  {
    float: none;
    display: block;
    text-align: left;
  }
}
/*//////////////////////////////////////
//////////// header slider starts//////////
////////////////////////////////////// */
.swiper-container2 {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
  outline: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-backslide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mySwiper .header__back {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 5;
}

.mySwiper .header__title {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 800;
  top: 5%;
  color: #fff;
  z-index: 9;
}

.mySwiper .header__title h1 {
  font-size: 35px;
}

.mySwiper .header__title-bottom {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
  top: 78%;
  color: white;
  z-index: 9;
}

.mySwiper .header__title-bottom h1 {
  font-size: 35px;
}

@media (max-width: 1000px) {
  .mySwiper .header__title {
    max-width: 90%;
  }

  .mySwiper .header__title h1 {
    font-size: 28px;
  }

  .mySwiper .header__title-bottom h1 {
    font-size: 28px;
  }
}
@media (max-width: 800px) {
  .mySwiper .header__title {
    max-width: 90%;
  }

  .mySwiper .header__title h1 {
    font-size: 28px;
  }

  .mySwiper .header__title-bottom h1 {
    font-size: 28px;
  }
}
@media (max-width: 650px) {
  .mySwiper .header__title h1 {
    font-size: 20px;
  }

  .mySwiper .header__title-bottom h1 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .mySwiper .header__title h1 {
    font-size: 18px;
  }

  .mySwiper .header__title-bottom h1 {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .mySwiper .header__title h1 {
    font-size: 14px;
  }

  .mySwiper .header__title-bottom h1 {
    font-size: 14px;
  }
}
/*  header slider end */

/*  video card start */
.video p {
  font-size: 30px;
  max-width: 90%;
  width: 100%;
  font-weight: 600;
  text-align: center;
  margin: 100px auto 0 auto;
}
.video > iframe {
  max-width: 90%;
  margin: 10px auto 100px auto;
  height: 600px;
  display: block;
  width: 100%;
}
@media (max-width: 800px) {
  .video > iframe {
    height: 470px;
    margin: 10px auto 70px auto;
  }
  .video p {
    font-size: 23px;
    margin: 70px auto 0 auto;
  }
}
@media (max-width: 600px) {
  .video > iframe {
    height: 400px;
  }
  .video p {
    font-size: 20px;
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 500px) {
  .video > iframe {
    height: 380px;
  }
  .video p {
    font-size: 18px;
    margin: 50px auto 0 auto;
  }
}
@media (max-width: 400px) {
  .video > iframe {
    height: 360px;
    margin: 10px auto 30px auto;
  }
  .video p {
    font-size: 16px;
    margin: 30px auto 0 auto;
  }
}
@media (max-width: 380px) {
  .video > iframe {
    height: 350px;
  }
  .video p {
    font-size: 14px;
    margin: 30px auto 0 auto;
  }
}

/*  video card end */

/* about us strat */
.about-us {
  display: flex;
}
.about-us .image {
  background-image: url(../img/1.3.JPG);
  max-width: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 20%;
}
.about-us .info {
  width: 50%;
  background: #2f4282;
}
.about-us .info h1 {
  text-align: center;
  font-size: 40px;
  color: #f5ffe5;
  margin: 15px;
}
.content {
  width: 100%;
  margin-bottom: 22px;
}
.content .content-info {
  display: flex;
  width: 100%;
  margin-top: 32px;
}
.content-info .spn {
  font-size: 42px;
  font-weight: 600;
  background: #ffdc79;
  border-radius: 50%;
  padding: 20px 30px;
  border: none;
  color: #003399;
  margin: 0 34px;
}
.content-info .spn-four {
  padding-top: 25px;
}
.content-info h3 {
  width: 100%;
  font-weight: 400;
  font-size: 28px;
  color: #f5ffe5;
  padding-top: 8px;
}
@media (max-width: 1200px) {
  .about-us .info h1 {
    font-size: 33px;
  }
  .content-info .spn {
    padding: 15px 25px;
    font-size: 34px;
  }
  .content-info h3 {
    font-size: 18px;
  }
  .content .content-info {
    margin-top: 22px;
  }
}
@media (max-width: 1000px) {
  .about-us .info h1 {
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  .about-us .info h1 {
    font-size: 25px;
  }
  .content-info .spn {
    padding: 20px 28px;
  }
}
@media (max-width: 816px) {
  .info {
    padding: 20px 0;
  }
  .about-us .info h1 {
    font-size: 30px;
  }
  .about-us {
    display: block;
  }
  .about-us .image {
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
  }
  .about-us .info {
    width: 100%;
  }
  .content-info h3 {
    font-size: 24px;
  }
}
@media (max-width: 574px) {
  .content-info h3 {
    font-size: 18px;
  }
}
@media (max-width: 574px) {
  .about-us .info h1 {
    text-align: center;
    font-size: 28px;
    color: #f5ffe5;
    margin: 0;
  }
  .content-info .spn {
    padding: 13px 20px;
    font-size: 28px;
  }
  .content-info h3 {
    font-size: 14px;
  }
  .about-us .image {
    max-width: 100%;
    background-position: 40%;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (max-width: 450px) {
  .about-us .info h1 {
    font-size: 24px;
  }
}
@media (max-width: 380px) {
  .about-us .info h1 {
    font-size: 22px;
  }
  .content-info .spn {
    font-size: 25px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    background: #ffdc79;
    border-radius: 50%;
    padding: 7px 12px;
    border: none;
    color: #003399;
    margin: 10px 15px;
  }
}
@media (max-width: 320px) {
  .about-us .info h1 {
    font-size: 18px;
  }
}
/* About us ends here  */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(42, 131, 233);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 80px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
@media (max-width: 991px) {
  .prev,
  .next {
    font-size: 60px;
  }
}
@media (max-width: 574px) {
  .prev,
  .next {
    font-size: 40px;
  }
}
/* next prev end */

/* footer start */

/* footer start */
footer {
  background: #292b2b;
}
footer .container {
  display: flex;
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
}
footer .footer-section-left {
  margin: 50px 0;
  max-width: 65%;
  width: 100%;
}
.footer .footer-section-left .text {
  color: #ffffff;
  max-width: 80%;
  width: 100%;
}
.footer .footer-section-left .text p {
  color: #ffffff;
  font-size: 25px;
}
footer .footer-section-right {
  margin: 50px 0;
  max-width: 35%;
  width: 100%;
}

.footer-section-right .contact h1 {
  color: white;
}
.footer-section-right .contact p {
  color: #ff7300;
  font-size: 35px;
  padding: 20px 0;
}
.social-network h1 {
  color: #ffffff;
}
.social-network ul {
  display: block;
}
.social-network ul li {
  display: inline-block;
  padding: 20px 0;
}
.social-network ul li a {
  color: #ff7300;
  font-size: 25px;
  margin: 20px 20px 20px 0;
}
.adress p {
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}
.adress h3 {
  color: #fff;
  font-size: 25px;
}
.adress iframe {
  max-width: 95%;
  width: 100%;
}
.footer-bottom {
  background: silver;
  height: 50px;
}
.footer-bottom .link {
  text-align: center;
  padding-top: 15px;
}
.footer-bottom .link span {
  color: #ff7300;
}
@media (max-width: 999px) {
  .footer .footer-section-left .text p {
    font-size: 20px;
  }
  .footer-section-right .contact h1 {
    font-size: 28px;
  }
  .footer-section-right .contact p {
    font-size: 30px;
  }
  .social-network h1 {
    color: #ffffff;
    font-size: 28px;
  }
  .social-network ul li a {
    color: #ff7300;
    font-size: 25px;
    margin: 20px 20px 20px 0;
  }
  .adress p {
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
  }
  .adress h3 {
    color: #fff;
    font-size: 25px;
  }
  .footer-bottom {
    background: silver;
    height: 50px;
  }
  .footer-bottom .link {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }
  .footer-bottom .link span {
    color: #ff7300;
  }
}
@media (max-width: 900px) {
  .footer .footer-section-left .text p {
    font-size: 20px;
  }
  .footer-section-right .contact h1 {
    font-size: 26px;
  }
  .footer-section-right .contact p {
    font-size: 28px;
  }
  .social-network h1 {
    color: #ffffff;
    font-size: 26px;
  }
}
@media (max-width: 800px) {
  footer {
    background: #292b2b;
    text-align: center;
  }
  footer .container {
    display: block;
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
  }
  footer .footer-section-left {
    margin: 0 0 50px 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .footer .footer-section-left .text {
    color: #ffffff;
    max-width: 90%;
    width: 100%;
    margin: 0px auto;
    display: block;
  }
  .footer .footer-section-left .text p {
    color: #ffffff;
    font-size: 25px;
    max-width: 90%;
    margin: 0 auto 50px;
    padding: 50px 0 0 0;
  }
  footer .footer-section-right {
    margin: 50px 0;
    max-width: 100%;
    width: 100%;
  }
  footer .adress p {
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .footer .footer-section-left .text p {
    font-size: 20px;
  }
  .footer-section-right .contact h1,
  .social-network h1,
  .adress h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .footer-section-right .contact p {
    font-size: 27px;
  }
  .social-network ul li {
    display: inline-block;
    padding: 20px 0;
  }
  .footer-bottom {
    background: silver;
    height: 70px;
  }
}
@media (max-width: 400px) {
  .footer-section-right .contact h1,
  .social-network h1,
  .adress h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer .footer-section-left .text p {
    font-size: 16px;
    max-width: 100%;
  }
  .footer-section-right .contact h1,
  .social-network h1 {
    font-size: 20px;
  }
  .footer-section-right .contact p {
    font-size: 25px;
  }
  .adress p {
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
  }
  .footer-bottom {
    background: silver;
    height: 70px;
  }
  .footer-bottom .link {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }
  .footer-bottom .link span {
    color: #ff7300;
  }
}
/*# sourceMappingURL=footer.css.map */

/*# sourceMappingURL=index.css.map */

/* slider img  */
.swiper-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  z-index: 99999999999999999999999999999999999999999999999999;
  display: none;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  position: absolute;
  top: 20%;
  left: 25%;
}
.modal-content #img01 {
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
}
.container1 img {
  height: 270px !important;
}
@media (max-width: 800px) {
  .modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  .modal-content #img01 {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
  }
}
.modal-hover-opacity {
  width: 700px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
}

.modal-hover-opacity:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-backface-visibility: hidden;
}

.close {
  text-decoration: none;
  float: right;
  font-size: 34px;
  font-weight: bold;
  color: white !important;
  margin: 120px 200px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .close {
    margin: 120px 100px;
  }
}
.container1 {
  width: 900px;
  display: inline-block;
}
@media (max-width: 800px) {
  .container1 img {
    height: 200px !important;
  }
}
@media (max-width: 500px) {
  .container1 img {
    height: 150px !important;
  }
}
@media (max-width: 400px) {
  .container1 img {
    height: 100px !important;
  }
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
